.wp-block-embed-activities-for-educaplay-block {
	width: 100%;
}

.educaplay-embed {
	&__iframe {
		width: 100%;
		border: none;
		max-height: 90dvh;
		aspect-ratio: 9 / 14;
		overflow: hidden;
		border-radius: 6px;

		@media (orientation: landscape) {
			aspect-ratio: 14 / 9;
		}
		@media (min-width: 1024px) {
			border-radius: 8px;
		}
	}
}
